@{
    ViewBag.Title = "TheBadAndTheUgly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Bad And The Ugly</h2>


<div id="customerList">

</div>
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/theBadAndTheUgly.js"></script>
}
