@{
    ViewBag.Title = "TheGood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Good</h2>

<div id="customerList">

</div>
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/theGood.js"></script>
}

